@model CodingTemple.BoardGameStore.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
@if (TempData["AccountConfirmed"] != null)
{
    <div class="alert alert-success">
        <p>Your account has been confirmed</p>
    </div>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.LabelFor(x => x.EmailAddress)
    @Html.TextBoxFor(x => x.EmailAddress)
    @Html.ValidationMessageFor(x => x.EmailAddress)

    @Html.LabelFor(x => x.Password)
    @Html.PasswordFor(x => x.Password)
    @Html.ValidationMessageFor(x => x.Password)

    <input type="submit" value="Login" />
}

